@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer base {
  html {
    @apply scroll-smooth;
  }
} */

html,
body, * {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 0px;
}

.layout {
  background-image: url("../../public/bg_skechers.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.product-slug {
  background-image: linear-gradient(to top, #3b82f6 0%, #e0f2fe 100%);
}

.cart-wrapper {
  background: rgba(0, 0, 0, 0.5);
}

.track {
  position: absolute;
  white-space: nowrap;
  will-change: transform;
  animation: marquee 30s linear infinite;
  width: 100%;
}

.track:hover {
  animation-play-state: paused;
}

@keyframes marquee {
  from { transform: translateX(200%); }
  to { transform: translateX(-200%); }
}

@keyframes marqueeSmall {
  from { transform: translateX(300%); }
  to { transform: translateX(-300%); }
}

@keyframes marqueeSmaller {
  from { transform: translateX(500%); }
  to { transform: translateX(-500%); }
}

@media screen and (max-width:800px) {
  .track {
    animation: marqueeSmall 25s linear infinite;
    /* width: 550%; */
  }
}

@media screen and (max-width:450px) {
  .track {
    animation: marqueeSmaller 20s linear infinite;
    /* width: 550%; */
  }
}